__pycache__/*
*.pyc
*.ipynb
outputs/*
demos/**/outputs/
demos/oppenheimer_snyder_collapse_z4c/runs/
demos/oppenheimer_snyder_collapse_z4c/scratch/
demos/oppenheimer_snyder_collapse_z4c/old/
demos/vacuum_puncture_black_hole/lapse_vs_K.png
demos/vacuum_puncture_black_hole/run_data.pkl
build/
dist/
*.egg-info/
PKG-INFO
